footer
  .row
    .col-lg-12
      ul.list-unstyled
        li.pull-right
          a(href="#top") #{__("Back to top")}
        li
          p #{__("Gengo.js is an open source project by %s.", "iwatakeshi")}
